<%= form_for(@seeartist) do |f| %>
  <% if @seeartist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seeartist.errors.count, "error") %> prohibited this seeartist from being saved:</h2>

      <ul>
      <% @seeartist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
